/*
 * Declare variables
 * -----------------
 *
 *
 *
 *
 *
 *
 *
 */

.infobulle {
  position         : absolute;
  top              : 100%;
  padding          : 10px;
  background-color : white;
  border-radius    : .3em;
  border           : thin grey solid;
  width            : 200px;
  opacity          : 0;
  z-index          : 10;
  font-size        : 0.7em;
  margin-top       : 15px;
  margin-left      : -5000px;
}

.infobulle:before,
.infobulle:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  border-top: 0px solid transparent;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.infobulle:before {
  border-bottom: 10px solid grey;
  margin-top: -10px;
}
.infobulle:after {
  border-bottom: 10px solid white;
  margin-top: -9px;
}
.trigger-infobulle {
    position: relative;
}

.trigger-infobulle:hover .infobulle{
  opacity : 1;
  margin-left: 0px;
}
